<div class="surveyform">
	<p class="description"></p>
	<h3 class="">Instrucciones de llenado</h3>
	<p class="instructions"></p>
	<!--<h3>Escala de valoración</h3>
	<p>1 Nada de acuerdo / Nunca / Nada 
2 Poco de acuerdo / Ocasionalmente / Poco 
3 Regular de acuerdo / Algunas veces / Regular
4 Muy de acuerdo / Casi siempre / Mucho
5 Totalmente de acuerdo / Siempre / Todo</p>-->
	<div class="container-survey">
		<form class="form-horizontal" id="" role="form">
			<div class="fields"></div>
		</form>
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-primary master">Submit</button>
			<button type="button" class="btn btn-link btn-cancel master">Cancel</button>
		</div>
	</div>
</div>