<span>Survey</span>
<h1>Esto es un titulo</h1>
<nav>
	<!--<a href="http://tympanus.net/Blueprints/HorizontalDropDownMenu/" class="bp-icon bp-icon-prev" data-info="previous Blueprint"><span>Previous Blueprint</span></a>
	<a href="http://tympanus.net/Blueprints/NestedAccordion/" class="bp-icon bp-icon-next" data-info="next Blueprint"><span>Next Blueprint</span></a>
	<a href="http://tympanus.net/codrops/?p=14429" class="bp-icon bp-icon-drop" data-info="back to the Codrops article"><span>back to the Codrops article</span></a>
	<a href="http://tympanus.net/codrops/category/blueprints/" class="bp-icon bp-icon-archive" data-info="Blueprints archive"><span>Go to the archive</span></a>-->
</nav>