<div id="container" class="login">
	<form action="authuser" method="post">
		<label for="name">Username:</label>
		<input type="name" name="user">
		<label for="username">Password:</label>
		<!--<p><a href="#">Forgot your password?</a></p>-->
		<input type="password" name="password">
		<div class="alert alert-warning fade in">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
			Usuario invalido
		</div>
		<div id="lower">
			<!--<input type="checkbox"><label class="check" for="checkbox">Keep me logged in</label>-->
			<button type="submit">Login</button>
		</div>
	</form>
</div>